.bar{
    height: 50px;
}

#positive{
    background-color: green;
    height: 100%;
    width: 20%;
}

#negative{
    background-color: red;
    height: 100%;
}

#approval-bar{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: red;
    width: 100%;
}