.bar {
  height: 50px; }

#positive {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #336688;
  /* TODO: use global variable */
  height: 100%;
  margin-left: -2px;
  text-align: right;
  padding-top: 15px;
  padding-right: 20px; }

#approval-bar {
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: #FF9900;
  width: 100%; }
