@import '../../../../../../colors.scss';

.agora.argument .ui.buttons {
    margin-top: 20px;

}

#aFavor{
    background-color: $green; 
    color: white;
}

#aFavor:hover{
    background-color: $greenHover;
}


#enContra{
    background-color: $red; 
    color: white;
}

#enContra:hover{
    background-color: $redHover;
}
