/* TODO: define global variables, such as:
  semantic-green: #21ba45
  semantic-red: ##db2828
  */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

main {
  min-height: calc(100vh - 70px);
}

.page {
  padding-top: 100px;
  padding-bottom: 50px;
}