@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

@font-face {
  font-family: 'BonaNova';
  src: local('BonaNova-Regular'), url(./fonts/BonaNova-Regular.otf) format('opentype');
}

html * {
  font-family: 'Titillium Web', sans-serif; 
}

html * {
  font-family: 'BonaNova', serif !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

main {
  min-height: calc(100vh - 70px); }

.page {
  padding-top: 110px;
  padding-bottom: 50px; }

i.icon {
  font-family: 'Icons', 'brand-icons' !important; }

